body {
  margin: 0;
  background-color: #EBEBEB;
}

/* Header */
header {
  background-color: #373738;
  padding: 15px;
}
header ul {
  float: right;
  color: #fbf3e9;
}
header li {
  display: inline-block;
  padding: 0px 5px;
}

h1 {
  font-size: 50.52px;
  margin-bottom: 5px;
}
h2 {
  font-size: 37.9px;
  margin-bottom: 5px;
}
h3 {
  font-size: 28.43px;
  margin-bottom: 5px;
}
h4 {
  font-size: 21.33px;
  margin-bottom: 5px;
}

/* About Me */
.aboutMe {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  text-align:center;
}
.Grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.Grid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  
}
.Grid img {
  width: 400px;
  height: 300px;
  align-self: center;
  justify-content: center;
}
.Grid button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* My Skills */
.mySkills {
  padding: 24px;
  text-align: center;
  align-items: center;
  }
.flexContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.flexContainer div {
  flex: 1 1 30%;
  max-width: 100%;
  margin: 10px;
  padding: 10px;
  text-align:left;
}
.flexChild {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.flexChild img {
  width: 400px;
  height: 200px;
  margin-right: 10px;
}
.flexChild p {
  font-size: 12px;
  width: 70%;
  line-height: 1.5;
  margin: 0;
}

/* My Work */
.myWork {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.workGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-top: 50px;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.workGrid div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:self-start;
}
.workGrid img {
  max-width: 200px;
  align-self: center;
  justify-content: center;
}
.workGrid p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}
.workGrid button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Responsive Screen */
@media only screen and (max-width: 600px) {
  .Grid {
    grid-template-columns: repeat(1, 1fr);
  }  .workGrid {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* Footer */
footer {
  background-color:#373738;
  color: #fbf3e9;
  padding: 15px;
}
footer ul {
  list-style-type: none;
  display: flex;
  width: auto;
  padding-left: 200px;
  padding-right: 200px;
  justify-content: space-evenly;  
}
footer li {
  display: inline-block;
  padding: 0px 5px;
}
.footerNav {
  text-align: center;
}

  